{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>

    {{ form_start(form) }}
    {{ form_widget(form.search) }}
    <button>Search</button>
    {{ form_end(form) }}
    <br>
    {{ app.session.get('total') }}
    
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <img src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}">
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
            <br>
            <br>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <br>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}


